<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="title-div">
        <h1 id="big-title" class="text-center"><span class="font-color-secondary">WS</span> Lists<span class="red-char">.</span></h1>
        <%= link_to new_list_path, class: 'big-heart-button', data: { "turbo-frame": "modal" } do %>
          <i class="fa-solid fa-heart-circle-plus"
          data-controller="tooltip"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Add your WS list"></i>
        <% end %>
      </div>
      <div class="cards-container">
        <div class="cards-grid">
          <% @lists.each do |list| %>
            <%= link_to list_path(list) do %>
              <%= render 'listcard', list: list %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
