<div class="container mt-3">
<h1 id="big-title" class="text-center"><span class="font-color-secondary">WS</span> Lists<span class="red-char">.</span></h1>
  <div class="cards-container">
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.movies.last.poster_url %>')">
              <h2 id="card-title"><%=list.name%></h2>
            </div>
            <div class="flip-card-back">
              <p>
                <ul>
                  <% list.movies.each do |movie|%>
                    <li><%=movie.title%></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
