// Specific CSS for your home-page
body {
  background-color:black;
  background-image: image-url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: white;
}

.container-welcome {
  width: 100%;
  height: 700px;
  border-radius: 5%;
  margin-top: 10px;
  background-color:rgba(19, 19, 19, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-main;
}

.big-title-div {
  margin-top: 50px;
}

.red-char {
  color: rgb(171, 13, 13);
}

#big-title {
  font-size: 80px;
  margin-bottom: 100px;
  color: $font-color-main;
}

#home-button {
  font-size: 25px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  color: $font-color-main;
  text-align: center;
  justify-content: space-between;
}

.messages-homepage {
  font-size: 25px;
}
