.beginning {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: $font-color-main;
}

.bold-number {
  font-weight: bold;
}

.container-list {
  width: 100%;
  border-radius: 5%;
  margin-top: 10px;
  background-color:rgba(19, 19, 19, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-addfilm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.container-trailer {
  width: 100%;
  height: 450px;
}

#list-title {
  font-size: 80px;
  margin-bottom: 20px;
}

#subtitle {
  font-family: $body-font;
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.film-info {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie_card{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 10px;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      width: 100%;
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color:$font-red;
        font-weight: 400;
      }
      p{
        color:$font-color-main;
      }
      .rating{
        display: inline-block;
        margin-top: 16px;
        color: $font-red;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $font-red;
      }
      .rating-brand {
        color: $font-red;
        font-size: 32px;
        display: inline-block;
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 200px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      padding: 25px;
      height: 50%;
      width: 80;
      .text{
        color: #cfd6e1;
      }
      .media {
        font-size: 24px;
        color: $font-red;
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

#logo {
  font-size: 20px;
}

#media-ul {
  list-style: none;
  display: inline;
}

#media-ul-elements {
  border-radius: 16px;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 60%;
  }

  .movie_desc{
    width: 50%;
  }

  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back{
    width: 80%;
    //background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 100%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header{
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc{
    width: 100%;
  }

  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}


#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }
}

.container-cast {
  width: 100%;
  border-radius: 5%;
  margin-top: 10px;
  background-color:rgba(19, 19, 19, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cast-title {
  color: white;
}

.actor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 16px;
}

.cardactor-front, .cardactor-back {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  transition-delay: 0.15s;
  transition: 0;
}

.cardactor-front {
  transform: rotateY(0deg);
}

.cardactor-back {
  transform: rotateY(180deg);
  opacity: 0;
  padding-top: 60px;
  backface-visibility: visible;
  background: #0d0d0c;
  color: white;
}

.cardactor {
  position: relative;
  height: 450px;
  background: #0d0d0c;
  border-radius: 8px;
  box-shadow: 0 40px 110px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: 0.5s;
  transform-style: preserve-3d;
  &:hover {
    transform: rotateY(180deg);
    .cardactor-front {
      opacity: 0;
    }.cardactor-back {
      opacity: 1;
    }
  }
}

.movie-carousel {
  height: 100%;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

#carouselExampleIndicators {
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control-prev {
  margin-left: -25px;
}

.carousel-control-next {
  margin-right: -25px;
}
