<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="container-welcome text-center">
      <h2 id="big-title">Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>
