// flip cards
.container-grid {
  width: 100%;
  height: 350px;
  overflow: scroll;
  margin-bottom: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 16px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  color: $font-color-secondary;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background-color: $font-color-secondary;
  color: $font-color-main;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow-y: scroll;
  // align-items: flex-start;
  align-items: center;
  }

#card-title {
  color: $font-color-main;
  font-size: 50px;
  font-weight: bold;
}

#card-description {
  font-size: 20px;
}
