.form-new {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  color: white;
}

.form-input {
  display: flex;
  justify-content: center;
  color: $font-color-main;
}

.form-add-container {
  margin-bottom: 16px;
  width: 100%
}
