.navbar-watchlist {
  justify-content: space-between;
  background: black;
  color: $font-red;
}

.navbar-mybrand {
  color: $font-red;
}

.nav-mylink {
  color: $font-color-main;
  margin: 5px;
}

.navbar-watchlist .navbar-collapse {
  flex-grow: 0;
}

.navbar-watchlist .navbar-brand img {
  width: 40px;
}
